{% extends 'base.html' %}
{% load static %}

{%block content%}

<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Личный кабинет</h1>
    </div>
</div>

<section class="btn-lg py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-end">
                <h1>Редактирование аккаунта {{ user.username }}:</h1>                
                <a style="color: #434343" href="{% url 'password_change' %}"> Изменить пароль </a>
                <br>
                <a style="color: #434343" href="{% url 'logout' %}"> Выйти из аккаунта </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}